@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #fefefe;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #b4dbee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6c6be;
}
